@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-5">
        <h2>My details</h2>
        <p>
            Customer Details
        </p>
        <p><a class="btn btn-primary " href="~/Customers/Details">Customer details&raquo;</a></p>
    </div>
    
    <div class="col-md-5">
        <h2>Bookings</h2>
        <p>
            Create new booking
        </p>
        <p><a class="btn btn-primary" href="~/Bookings/Create">Bookings Entry &raquo;</a></p>
    </div>
</div>
