<div class="jumbotron">
    <h1>Courier Services</h1>
    <p class="lead">A web application that aims to provide an effective solution for courier management.</p>

</div>

<div class="row">
    <div class="col-md-5">
        <h2>Categories</h2>
        <p>
            View all categories
        </p>
        <p><a class="btn btn-primary " href="~/Categories/Index">Category Entry &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Bookings</h2>
        <p>
            View all Bookings
        </p>
        <p><a class="btn btn-primary" href="~/Bookings/Index">Booking Entry &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Vehicles</h2>
        <p>
            View all vehicles
        </p>
        <p><a class="btn btn-primary" href="~/Vehicles/Index">Vehicle Entry &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Delivery_Agent</h2>
        <p>
            Delivery-Agent
        </p>
        <p><a class="btn btn-primary" href="~/Delivery_Agent/Index">Delivery_Agent &raquo;</a></p>
    </div>
</div>