<div class="jumbotron">
    <h1>Courier Services</h1>
    <p class="lead">A web application that aims to provide an effective solution for courier management.</p>

</div>

<div class="row">
    <div class="card border-primary col-md-6">
        <h2>Categories</h2>
        <p>
            View all categories
        </p>
        <p><a class="btn btn-secondary " href="~/Categories/Index">Category Entry &raquo;</a></p>
    </div>
    <div style="margin-left:30px;" class="card border-primary col-md-6">
        <h2>Bookings</h2>
        <p>
            View all Bookings
        </p>
        <p><a class="btn btn-secondary" href="~/Bookings/Index">Booking Entry &raquo;</a></p>
    </div>
</div>
<div style="margin-top:20px" class="row">
    <div class="col-md-6 card border-primary">
        <h2>Vehicles</h2>
        <p>
            View all vehicles
        </p>
        <p><a class="btn btn-secondary" href="~/Vehicles/Index">Vehicle Entry &raquo;</a></p>
    </div>
    <div  style="margin-left:30px;" class="col-md-6 card border-primary">
        <h2>Delivery_Agent</h2>
        <p>
            Delivery-Agent
        </p>
        <p><a class="btn btn-secondary" href="~/Delivery_Agent/Index">Delivery_Agent &raquo;</a></p>
    </div>
</div>